build/
builddir/
build-aux/
subprojects/
release/

# NOTE: Plan to move to WhiteBox, uncomment once done
.vscode/

*~

.DS_Store
out.txt
libraylib.a

game
game.*

application
application.*

engine
engine.*

index
index.*
